/* init css  A*/
:root {
  --bs-blue: #0d6efd;
  --bs-white: #ffffff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-801: #293042;
  --bs-gray-900: #212529;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
html {
  font-family: Microsoft YaHei, Heiti SC, tahoma, Arial, hiragino Sans GB, "\5B8B\4F53";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  font-size: 0.2133rem;
  background-color: #f7f9fb;
}
body::-webkit-scrollbar {
  width: 0.08rem;
  height: 0.2667rem;
}
body::-webkit-scrollbar-thumb {
  /* 滚动条样式 可以选择不加 */
  background: linear-gradient(#119dd4, #2ca4f3);
  border-radius: 0.0667rem;
  transition: 1s;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#fc753f, #def702);
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* 取消图片底侧有空白缝隙的问题 */
}
a {
  color: #666;
  text-decoration: none;
  -webkit-touch-callout: none;
}
a:hover {
  color: #c81623;
  /* 鼠标经过链接变颜色 */
}
button {
  cursor: pointer;
}
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, Arial, hiragino Sans GB, "\5B8B\4F53";
  color: #666;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* init css  A*/
/* media screen B */
@media screen and (max-width: 320px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 37.5px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 38.4px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 40px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 41.4px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 42.4px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 54px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px;
  }
}
/* 栅格响应式布局 */
.container {
  display: grid;
  gap: 10px;
  /* 间距 */
}
/* <768 */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  body article .left_container {
    display: none;
  }
  body article .left_container .navbar_wrap {
    display: none;
  }
  body article .left_container .navbar_wrap .logo_wrap {
    display: none;
  }
  body article .left_container .navbar_wrap .nav_wrap ul {
    margin-top: 0;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li {
    padding-left: 20px;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li a p,
  body article .left_container .navbar_wrap .nav_wrap ul li a span,
  body article .left_container .navbar_wrap .nav_wrap ul li a em {
    display: none;
  }
  body article .left_container .navbar_wrap .nav_wrap .wd_flag {
    display: none;
  }
  body article .right_container .menu_wrap {
    display: none;
  }
  body article .right_container .link_wrap .links_content {
    margin-top: 20px;
    padding: 2px;
  }
  body article .right_container .link_wrap .links_content .title p {
    display: none;
  }
  body article .right_container .link_wrap .links_content .links {
    margin-top: 5px;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(3, 1fr);
  }
  body article .right_container .link_wrap .links_content .links .container li .lks_info .liks_title .money_box {
    display: none;
  }
  body article .right_container .link_wrap .links_content .links .container li .lks_info .liks_title span {
    display: none;
  }
  body article .right_container .link_wrap .links_content .links .container li .lks_info .liks_title h5 {
    font-weight: 400;
  }
  body article .right_container .link_wrap .links_content .links .container li .lks_info .liks_data {
    display: none;
  }
  .col-sx-12 {
    grid-column: span 12;
  }
  .col-sx-11 {
    grid-column: span 11;
  }
  .col-sx-10 {
    grid-column: span 10;
  }
  .col-sx-9 {
    grid-column: span 9;
  }
  .col-sx-8 {
    grid-column: span 8;
  }
  .col-sx-7 {
    grid-column: span 7;
  }
  .col-sx-6 {
    grid-column: span 6;
  }
  .col-sx-5 {
    grid-column: span 5;
  }
  .col-sx-4 {
    grid-column: span 4;
  }
  .col-sx-3 {
    grid-column: span 3;
  }
  .col-sx-2 {
    grid-column: span 2;
  }
  .col-sx-1 {
    grid-column: span 1;
  }
}
/* >768 */
@media screen and (min-width: 768px) {
  body {
    width: 10rem;
  }
  body article .left_container {
    flex: 0 0 0.8rem;
  }
  body article .left_container .navbar_wrap {
    width: 0.8rem;
  }
  body article .left_container .navbar_wrap .logo_wrap a {
    display: none;
  }
  body article .left_container .navbar_wrap .logo_wrap i {
    left: 0.2rem;
  }
  body article .left_container .navbar_wrap .nav_wrap ul {
    margin-top: 0;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li {
    padding-left: 20px;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li a p,
  body article .left_container .navbar_wrap .nav_wrap ul li a span,
  body article .left_container .navbar_wrap .nav_wrap ul li a em {
    display: none;
  }
  body article .left_container .navbar_wrap .nav_wrap .wd_flag {
    display: none;
  }
  body article .left_container .navbar_wrap .info_wrap ul li:nth-child(n+2) {
    display: none;
  }
  body article .right_container .menu_wrap {
    justify-content: flex-end;
  }
  body article .right_container .menu_wrap section:nth-child(1) {
    display: none;
  }
  body article .right_container .menu_wrap section:nth-child(2) i,
  body article .right_container .menu_wrap section:nth-child(2) div {
    display: none;
  }
  body article .right_container .menu_wrap section:nth-child(2) .bi-gear {
    display: block;
    margin-right: 15px;
  }
  body article .right_container .link_wrap .links_content {
    margin-top: 20px;
    padding: 2px;
  }
  body article .right_container .link_wrap .links_content .title {
    padding-left: 16px;
  }
  body article .right_container .link_wrap .links_content .links {
    margin-top: 5px;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-sm-12 {
    grid-column: span 12;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-1 {
    grid-column: span 1;
  }
}
/* >960 */
@media screen and (min-width: 992px) {
  body {
    width: 12.9333rem;
  }
  body article .left_container {
    flex: 0 0 0.8rem;
  }
  body article .left_container .navbar_wrap {
    width: 0.8rem;
  }
  body article .left_container .navbar_wrap .logo_wrap a {
    display: none;
  }
  body article .left_container .navbar_wrap .logo_wrap i {
    left: 0.2rem;
  }
  body article .left_container .navbar_wrap .nav_wrap ul {
    margin-top: 0;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li {
    padding-left: 20px;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li a p,
  body article .left_container .navbar_wrap .nav_wrap ul li a span,
  body article .left_container .navbar_wrap .nav_wrap ul li a em {
    display: none;
  }
  body article .left_container .navbar_wrap .nav_wrap .wd_flag {
    display: none;
  }
  body article .right_container .menu_wrap {
    justify-content: flex-end;
  }
  body article .right_container .menu_wrap section:nth-child(1) {
    display: none;
  }
  body article .right_container .menu_wrap section:nth-child(2) i,
  body article .right_container .menu_wrap section:nth-child(2) div {
    display: none;
  }
  body article .right_container .menu_wrap section:nth-child(2) .bi-gear {
    display: flex;
    margin-right: 15px;
  }
  body article .right_container .link_wrap .links_content {
    margin-top: 20px;
    padding: 2px;
  }
  body article .right_container .link_wrap .links_content .title {
    padding-left: 16px;
  }
  body article .right_container .link_wrap .links_content .links {
    margin-top: 5px;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-md-12 {
    grid-column: span 12;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-1 {
    grid-column: span 1;
  }
}
/* >1200px */
@media screen and (min-width: 1200px) {
  body {
    width: 15.6rem;
  }
  body article .left_container {
    flex: 0 0 3.2rem;
  }
  body article .left_container .navbar_wrap {
    width: 3.2rem;
  }
  body article .left_container .navbar_wrap .logo_wrap a {
    display: block;
  }
  body article .left_container .navbar_wrap .logo_wrap i {
    left: 0.3867rem;
  }
  body article .left_container .navbar_wrap .nav_wrap ul {
    margin-top: 0.6667rem;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li {
    padding: 0.3467rem 0.2rem;
  }
  body article .left_container .navbar_wrap .nav_wrap ul li a p,
  body article .left_container .navbar_wrap .nav_wrap ul li a span,
  body article .left_container .navbar_wrap .nav_wrap ul li a em {
    display: flex;
  }
  body article .left_container .navbar_wrap .nav_wrap .wd_flag {
    display: block;
  }
  body article .left_container .navbar_wrap .info_wrap ul li:nth-child(n+2) {
    display: block;
  }
  body article .right_container .menu_wrap {
    justify-content: center;
  }
  body article .right_container .menu_wrap section:nth-child(1) {
    display: flex;
  }
  body article .right_container .menu_wrap section:nth-child(2) i,
  body article .right_container .menu_wrap section:nth-child(2) div {
    display: flex;
  }
  body article .right_container .menu_wrap section:nth-child(2) .bi-gear {
    display: block;
    margin-right: 0;
  }
  body article .right_container .link_wrap .links_content {
    margin-top: 20px;
    padding: 2px;
  }
  body article .right_container .link_wrap .links_content .title {
    padding-left: 16px;
  }
  body article .right_container .link_wrap .links_content .links {
    margin-top: 5px;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-lg-12 {
    grid-column: span 12;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-1 {
    grid-column: span 1;
  }
}
@media screen and (min-width: 1450px) {
  body {
    width: 19.0667rem;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1624px) {
  body {
    width: 21.3333rem;
  }
  body article .right_container .link_wrap .links_content .links .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
