body {
  margin: 0 auto;
  /*居中*/
  min-width: 320px;
  /*屏幕最大且等于320px*/
  max-width: 750px;
  /*屏幕最小且等于640px*/
  /*rem布局，750设计稿划分10等份，750/（750/15）=10rem*/
  background-color: #fff;
  /*统一背景颜色*/
  font-family: Arial, Helvetica, sans-serif;
  /*设置字体，sans-serif在下面文字有说明*/
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
/* banner */
header .header_s {
  width: 20rem;
  height: 8.8rem;
}
header .header_s img {
  width: 100%;
}
/* function */
article .function_title {
  position: relative;
  height: 1.813333rem;
  border-bottom: 0.053333rem solid #F0F0F0;
}
article .function_title i {
  position: absolute;
  top: 0.506667rem;
  left: 0.72rem;
  display: inline-block;
  width: 0.133333rem;
  height: 0.746667rem;
  background-color: #0D91FF;
}
article .function_title h3 {
  display: inline-block;
  color: #0D91FF;
  font-size: 0.746667rem;
  margin: 0.506667rem 0 0.506667rem 1.066667rem;
}
.nav {
  display: flex;
}
.nav a {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 4.373333rem;
  align-items: center;
}
.nav a img {
  width: 3.226667rem;
  height: 3.226667rem;
}
.nav a span {
  font-size: 0.533333rem;
  color: #716F6F;
}
.ad {
  display: flex;
  padding: 0 0.8rem;
  justify-content: space-between;
}
.ad a {
  width: 8.933333rem;
  height: 4.56rem;
}
.ad a img {
  width: 100%;
}
.ad_title {
  height: 1.2rem;
  position: relative;
  margin-top: 0.88rem;
  line-height: 1.2rem;
  border-bottom: 0.053333rem solid #F0F0F0;
}
.ad_title span {
  font-size: 0.506667rem;
  color: #636363;
  padding-left: 2.346667rem;
}
.ad_title span::before {
  content: "";
  position: absolute;
  top: 0.186667rem;
  left: 0.773333rem;
  display: block;
  width: 0.986667rem;
  height: 0.746667rem;
  background: url(../images/horn.png) no-repeat;
}
.function_content {
  display: flex;
  margin-top: 0.506667rem;
}
.function_content .content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding-top: 0.453333rem;
}
.function_content .content_left h3 {
  font-size: 0.933333rem;
}
.function_content .content_left h4 {
  font-size: 0.586667rem;
  color: #AFAEAE;
  margin-left: -1.6rem;
  overflow: hidden;
  margin-top: 0.186667rem;
}
.function_content .content_right {
  width: 50%;
}
.function_content .content_right img {
  width: 8.826667rem;
  height: 4.693333rem;
}
.curriculum_img {
  display: flex;
  justify-content: space-between;
  padding: 0 1.333333rem;
  height: 5.226667rem;
}
.curriculum_img a {
  display: block;
  width: 4.666667rem;
  height: 3.92rem;
  text-align: center;
  margin-top: 0.48rem;
}
.curriculum_img a img {
  width: 100%;
  margin-bottom: 0.373333rem;
}
.curriculum_img a span {
  font-size: 0.346667rem;
}
footer {
  height: 2.666667rem;
  background-color: #eaf9ff;
  border-radius: 0.7rem 0.7rem 0 0;
  margin-top: 0.8rem;
}
footer .footer_nav {
  display: flex;
  height: 2.666667rem;
}
footer .footer_nav a {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 2.666667rem;
  align-items: center;
}
footer .footer_nav a img {
  width: 1.6rem;
  height: 1.6rem;
}
footer .footer_nav a span {
  font-size: 0.38rem;
  color: #716F6F;
}
