@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
body {
  min-width: 320px;
  height: 750px;
  width: 10rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background: #f0f0f0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
/* animation start*/
@keyframes loading {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.8;
    background-color: #ee17b8;
  }
  70% {
    transform: translateY(10px);
    opacity: 0.8;
  }
  85% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
}
.loading_box .animation_box {
  width: 100%;
  height: 1.0667rem;
  margin-top: 65%;
}
.loading_box .animation_box .ul_box {
  text-align: center;
}
.loading_box .animation_box .ul_box .li_box {
  display: inline-block;
  width: 0.1333rem;
  height: 0.1333rem;
  background-color: springgreen;
  border-radius: 50%;
  margin-right: 0.0533rem;
  animation: loading 1.5s 0s infinite;
  transform: all 0.3s;
}
.loading_box .animation_box .ul_box .li_box:nth-child(1) {
  animation: loading 1.5s 0.2s infinite;
  background-color: violet;
}
.loading_box .animation_box .ul_box .li_box:nth-child(2) {
  animation: loading 1.5s 0s infinite;
  background-color: #18e4ff;
}
.loading_box .animation_box .ul_box .li_box:nth-child(3) {
  animation: loading 1.5s 0.4s infinite;
  background-color: #a942fd;
}
.loading_box .animation_box .ul_box .li_box:nth-child(4) {
  animation: loading 1.5s 0s infinite;
  background-color: #f07b4d;
}
.loading_box .animation_box .ul_box .li_box:nth-child(5) {
  animation: loading 1.5s 0.1s infinite;
  background-color: #4dddf0;
}
.loading_box .animation_box .ul_box .li_box:nth-child(6) {
  animation: loading 1.5s 0s infinite;
}
.loading_box .animation_box .font_box {
  letter-spacing: 2.5px;
  text-align: center;
  margin-left: 0.0667rem;
  color: #bdbdbd;
}
.loading_box .animation_box .font_box .i_box {
  margin-left: 0.0267rem;
  color: #5f5f5f;
}
.loading_box .animation_box .font_box .i_box:nth-child(1) {
  animation: opacity 2s 0.2s infinite;
}
.loading_box .animation_box .font_box .i_box:nth-child(2) {
  animation: opacity 2s 0.6s infinite;
}
.loading_box .animation_box .font_box .i_box:nth-child(3) {
  animation: opacity 2s 1s infinite;
}
/* animation end */
/* style */
.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 1.1333rem;
  /* back top */
}
.container .navbar {
  position: fixed;
  top: -0.0133rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5px 2px -1px rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.container .navbar .nav_logo {
  position: absolute;
  top: -0.0133rem;
  left: 0.2rem;
  width: 1.7333rem;
  height: 1rem;
}
.container .navbar .nav_logo img {
  width: 100%;
  height: 100%;
}
.container .navbar .nav_more span {
  position: absolute;
  display: block;
  width: 1.5067rem;
  height: 1rem;
  line-height: 1rem;
  top: 0.07rem;
  right: 0;
  font-size: 0.24rem;
  color: #fa6c9b;
}
.container .navbar .nav_more img {
  position: absolute;
  top: 40%;
  right: 0.2667rem;
  width: 0.2933rem;
  height: 0.2933rem;
  transform-origin: 50% 50%;
  transition: all 0.4s;
}
.container .navbar .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/upload/flow.png) no-repeat;
  background-size: 100%;
}
.container .navbar .nav_column {
  /* content */
  display: none;
  position: absolute;
  top: 1.0667rem;
  left: 0;
  width: 100%;
  height: 2.4667rem;
  background-color: #ffffff;
  border-radius: 0 0 0.3333rem 0.3333rem;
  border: 0.0133rem solid #dadada;
}
.container .navbar .nav_column .nav_back {
  position: absolute;
  display: flex;
  align-items: center;
  top: -0.9333rem;
  width: 52%;
  height: 0.8rem;
  color: #fa6c9b;
  font-size: 0.24rem;
}
.container .navbar .nav_column .nav_back img {
  flex: 0 0 0.68rem;
  height: 0.56rem;
  padding-left: 0.4rem;
}
.container .navbar .nav_column .nav_back .main_page {
  position: relative;
  margin-right: auto;
}
.container .navbar .nav_column .nav_back .main_page::before {
  content: "";
  position: absolute;
  left: -0.5867rem;
  bottom: -0.0933rem;
  display: block;
  width: 1.28rem;
  border: 0.0133rem solid #fa6c9b;
}
.container .navbar .nav_column .nav_back .slideUp {
  position: relative;
}
.container .navbar .nav_column .nav_back .slideUp::before {
  content: "";
  position: absolute;
  right: 0.0133rem;
  bottom: -0.08rem;
  display: block;
  width: 0.6rem;
  border-bottom: 0.0133rem solid #fa6c9b;
}
.container .navbar .nav_column .nav_style {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .navbar .nav_column .nav_style input {
  width: 1.88rem;
  height: 0.6667rem;
  outline: none;
  border: 0;
  border-radius: 0.1333rem;
  background: #ffdce5;
  color: rgb(250, 108, 155);
}
.container .scroll {
  position: relative;
  width: 100%;
  height: 5.4rem;
  margin: 0 0 0.2667rem 0;
  overflow: hidden;
}
.container .scroll li {
  list-style: none;
}
.container .scroll .navs {
  width: 500%;
  height: 5.4rem;
  margin-left: -100%;
  overflow: hidden;
}
.container .scroll .navs li {
  float: left;
  width: 20%;
}
.container .scroll .navs li img {
  width: 100%;
  height: 100%;
}
.container .scroll #bots {
  position: absolute;
  bottom: 1.1667rem;
  right: 0.2rem;
  width: 1.6rem;
  height: 0.1333rem;
  margin-left: -0.4rem;
}
.container .scroll #bots li {
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  margin: 0 0.0267rem;
  background-color: rgba(238, 13, 88, 0.24);
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 999;
}
.container .scroll #bots .active {
  width: 0.3333rem;
  height: 0.16rem;
  background-color: rgba(238, 13, 88, 0.774);
  border-radius: 30%;
}
.container .content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.2133rem;
  font-size: 0.16rem;
  text-align: center;
}
.container .content .img_box {
  flex: 0 0 2.9333rem;
  min-width: 2.9333rem;
  min-height: 5.2rem;
  color: #b6b5b5;
  margin: 0.1333rem;
  box-shadow: 0 0 0.04rem 0.0267rem #a9a9a94d;
}
.container .content .img_box a {
  display: block;
}
.container .content .img_box a img {
  width: 100%;
}
.container .content .img_box span {
  font-size: 0.16rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .back_top {
  position: fixed;
  top: 80%;
  right: 0.2133rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fa6c9b;
  display: none;
  text-align: center;
  border-radius: 2px;
}
.container .back_top img {
  position: absolute;
  top: 0.2rem;
  left: 0.16rem;
  width: 60%;
  height: 60%;
}
