/* media <1170px */
@media screen and (min-width: 320px) and (max-width: 1170px) {
  body .container-fluid .row .left_wrap {
    width: 0.8rem;
  }
  body .container-fluid .row .left_wrap .left_logo a {
    display: none;
  }
  body .container-fluid .row .left_wrap .left_navbar h5 {
    display: none;
  }
  body .container-fluid .row .left_wrap .left_navbar ul {
    padding-top: 0.8667rem;
  }
  body .container-fluid .row .left_wrap .left_navbar ul li a p,
  body .container-fluid .row .left_wrap .left_navbar ul li a span,
  body .container-fluid .row .left_wrap .left_navbar ul li a em {
    display: none;
  }
  body .container-fluid .row .left_wrap .left_info .footer_time,
  body .container-fluid .row .left_wrap .left_info .footer_icon {
    display: none;
  }
  body .container-fluid .row .right_wrap {
    padding-left: 0.8rem;
  }
}
/* media <1170px */
/* init css A */
html {
  font-size: 75px;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
/* init css A */
body {
  background-color: #F7F9FB;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#119dd4, #2ca4f3);
  border-radius: 5px;
  transition: 1s;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#fc753f, #def702);
}
/* main css B*/
.container-fluid {
  padding: 0;
  min-width: 15.6rem;
}
.container-fluid .row {
  margin: 0;
  padding: 0;
  /* left */
  /* right */
}
.container-fluid .row .left_wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 3.2rem;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0;
  background: linear-gradient(-160deg, #293046 0%, #464646 100%);
}
.container-fluid .row .left_wrap .left_logo {
  flex: 0 0 0.9067rem;
  line-height: 0.9067rem;
  text-align: center;
  font-size: 0.32rem;
  color: #FEDF00;
  border-bottom: 0.0133rem solid rgba(204, 204, 204, 0.151);
}
.container-fluid .row .left_wrap .left_logo a {
  padding-left: 0.1333rem;
  color: #FEDF00;
}
.container-fluid .row .left_wrap .left_navbar {
  flex: 1;
  color: #dfdfdf;
}
.container-fluid .row .left_wrap .left_navbar h5 {
  margin: 0.3333rem 0.2667rem;
  letter-spacing: 0.0267rem;
}
.container-fluid .row .left_wrap .left_navbar ul {
  padding: 0;
}
.container-fluid .row .left_wrap .left_navbar ul li a {
  display: flex;
  height: 1rem;
  line-height: 1rem;
  justify-content: center;
  color: #a8a8a8;
  font-size: 0.2133rem;
}
.container-fluid .row .left_wrap .left_navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.082);
  color: #e9e8e8;
}
.container-fluid .row .left_wrap .left_navbar ul li a i {
  font-size: 0.24rem;
}
.container-fluid .row .left_wrap .left_navbar ul li a p {
  padding: 0 0.2667rem;
  font-size: 0.2133rem;
}
.container-fluid .row .left_wrap .left_navbar ul li a span {
  font-size: 0.16rem;
  padding: 0.0267rem 0.1733rem 0 0.173rem;
}
.container-fluid .row .left_wrap .left_info {
  flex: 0 0 0.76rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;
  border-top: 0.0133rem solid rgba(204, 204, 204, 0.151);
}
.container-fluid .row .left_wrap .left_info .footer_img {
  width: 0.5333rem;
  height: 0.48rem;
  background: url(../images/common_img/logo.png);
  background-size: 100%;
  border-radius: 0.2em;
  cursor: pointer;
}
.container-fluid .row .left_wrap .left_info .footer_time {
  padding: 0 0.2667rem;
}
.container-fluid .row .left_wrap .left_info .footer_icon {
  width: 0.2667rem;
  height: 0.2667rem;
  font-size: 0.24rem;
  color: #d8d7d7;
  cursor: pointer;
}
.container-fluid .row .right_wrap {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 3.2rem;
}
.container-fluid .row .right_wrap .navbar {
  flex: 0 0 0.9067rem;
  display: flex;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(204, 204, 204, 0.521);
  padding: 0 0.2667rem;
}
.container-fluid .row .right_wrap .navbar .nav_search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.container-fluid .row .right_wrap .navbar .nav_search i {
  font-size: 0.4rem;
}
.container-fluid .row .right_wrap .navbar .nav_search form {
  margin: 0 0.4rem;
}
.container-fluid .row .right_wrap .navbar .nav_search form input {
  width: 3.4667rem;
  height: 0.4rem;
  border-radius: 0.2667rem;
  outline: none;
  border: 1px solid #a3a3a3;
  padding-left: 0.1333rem;
}
.container-fluid .row .right_wrap .navbar .nav_search form input::placeholder {
  color: #a3a3a3;
}
.container-fluid .row .right_wrap .navbar .nav_info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.2667rem;
}
.container-fluid .row .right_wrap .navbar .nav_info > * {
  margin: 0 0.2667rem;
}
.container-fluid .row .right_wrap .navbar .nav_info .head_portrait {
  width: 40px;
  height: 40px;
  border-radius: 2em;
  background: url(../images/common_img/info_img.jpg) no-repeat 0px -18px;
  background-size: 100%;
  box-shadow: 2px 3px 5px #ccc;
}
.container-fluid .row .right_wrap .navbar .nav_info .login {
  padding: 0.1067rem 0.08rem;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 5px #ccc;
  font-size: 0.1867rem;
  line-height: 1em;
  cursor: pointer;
}
.container-fluid .row .right_wrap .main_container {
  flex: 1;
}
.container-fluid .row .right_wrap .main_container .title {
  display: flex;
  align-items: flex-end;
  padding: 0.1333rem 0 0.2667rem 0.2133rem;
}
.container-fluid .row .right_wrap .main_container .title h3 {
  font-size: 0.2667rem;
  font-weight: 600;
  font-family: Microsoft YaHei, tahoma, Arial, "\5B8B\4F53";
}
.container-fluid .row .right_wrap .main_container .title p {
  padding-left: 0.2667rem;
  font-size: 0.1733rem;
  color: rgba(128, 128, 128, 0.685);
}
.container-fluid .row .right_wrap .main_container .links .link_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
  margin: 0;
}
.container-fluid .row .right_wrap .main_container .links .link_container li {
  min-width: 2.9333rem;
  width: 2.9333rem;
  height: 5.3333rem;
  padding: 0.1333rem;
  background-color: white;
  margin: 0.1333rem 0.2667rem;
  box-shadow: 3px 3px 3px -1px #c3c3c3;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_img {
  display: block;
  padding-bottom: 0.1333rem;
  border-bottom: 1px solid rgba(138, 138, 138, 0.267);
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_img img:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 3px 0px #1580bf;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info {
  flex: 1;
  margin-top: 0.1333rem;
  cursor: pointer;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_title {
  position: relative;
  display: flex;
  margin-bottom: 0.0667rem;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_title h5 {
  margin: 0;
  font-weight: 600;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_title span {
  position: absolute;
  top: -0.0533rem;
  right: 0;
  z-index: 20;
  padding: 0.0133rem 0.08rem;
  border-radius: 0.2em;
  font-size: 0.1867rem;
  color: white;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_title .hot_box {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: 0.24rem;
  left: 2.1333rem;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_title .hot_box em {
  position: absolute;
  transform: translateY(0);
  width: 0.5333rem;
  margin-bottom: 0.0667rem;
  text-align: center;
  padding: 0.0133rem 0;
  border-radius: 0.3em;
  font-size: 0.1867rem;
  color: var(--bs-white);
  background-color: #0dcaf0;
  transition: all 0.6s;
  color: white;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_data {
  display: flex;
  font-size: 0.16rem;
  color: #adb5bd;
  margin: 0.1867rem 0 0 0;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_data p {
  margin-right: auto;
  margin-bottom: 0;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_data i {
  position: relative;
}
.container-fluid .row .right_wrap .main_container .links .link_container li .lks_info .liks_data i::before {
  content: "";
  position: absolute;
  top: -0.0133rem;
  left: -0.5333rem;
  display: block;
  width: 0.2667rem;
  height: 0.2667rem;
  background: url(../images/common_img/fire.png) no-repeat -4px -6px;
  background-size: 0.4rem auto;
}
.back_top {
  position: fixed;
  top: 80%;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fa6c9b;
  display: none;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
  z-index: 30;
  cursor: pointer;
}
.back_top img {
  width: 60%;
  height: 60%;
}
/* main css B*/
